<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <style>
        </style>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-content>
                    <v-container fluid fill-height>
                        <v-layout align-center justify-center>
                            <v-flex xs12 sm8 md4>
                                <v-form method="post" id="signupForm" v-model="valid">
                                    <v-card class="elevation-12">
                                        <v-toolbar color="primary" flat>
                                            <v-toolbar-title>{{ server_name }} Signup</v-toolbar-title>
                                        </v-toolbar>
                                        <v-card-text>
                                            <v-text-field prepend-icon="person" name="username" label="Username" type="text" :rules="usernameRules" v-model="username"></v-text-field>
                                            <v-text-field prepend-icon="lock" label="Password" type="password" :rules="passwordRules" v-model="password"></v-text-field>
                                            <v-text-field prepend-icon="lock" label="Verify Password" type="password" :error-messages="verifyError" v-model="confirm"></v-text-field>
                                            <v-text-field prepend-icon="email" name="email" label="Email Address" type="email" :rules="emailRules" v-model="email"></v-text-field>
                                        </v-card-text>
                                        <v-card-actions>
                                            <template v-if="status">
                                                <v-progress-circular indeterminate :size="20" :width="3" class="mx-2"></v-progress-circular>
                                                {% raw %}{{ status }}{% endraw %}&hellip;
                                            </template>
                                            <v-spacer></v-spacer>
                                            <v-btn color="primary" @click="submit" :disabled="!valid">Signup</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-form>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-content>
            </v-app>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/tweetnacl/nacl-fast.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
        <script>
            function b64encode(buf) {
                return btoa(String.fromCharCode.apply(null, new Uint8Array(buf)));
            }
            function b64decode(s) {
                // https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/Base64_encoding_and_decoding
                var bs = atob(s), buf = new Uint8Array(bs.length);
                Array.prototype.forEach.call(buf, function (el, idx, arr) { arr[idx] = bs.charCodeAt(idx); });
                return buf;
            }
            async function encryptKeys(keyPair, passwordKey, iterations) {
                var salt = window.crypto.getRandomValues(new Uint8Array(32));
                var nonce = window.crypto.getRandomValues(new Uint8Array(12));
                var keyMaterial = await window.crypto.subtle.deriveBits({name: "PBKDF2", salt: salt, iterations: iterations, hash: "SHA-256"}, passwordKey, 256);
                var aesKey = await window.crypto.subtle.importKey("raw", keyMaterial, "AES-GCM", false, ["encrypt"]);
                var encrypted = await window.crypto.subtle.encrypt({name: "AES-GCM", iv: nonce, tagLength: 128}, aesKey, keyPair.secretKey);
                return {
                    key_spec: {
                        algorithm: "pbkdf2_sha256",
                        salt: b64encode(salt),
                        iterations: iterations,
                    },
                    nonce: b64encode(nonce),
                    data: b64encode(encrypted),
                    public_key: b64encode(keyPair.publicKey)
                };
            }
            async function generateKeys(username, password, email) {
                var pwBytes = new TextEncoder('UTF-8').encode(password);
                var iterations = 200000;
                var passwordSalt = window.crypto.getRandomValues(new Uint8Array(32));
                // Generate x25519 and ed25519 keys for key exchange and signing.
                var x25519keys = nacl.box.keyPair();
                var ed25519keys = nacl.sign.keyPair();
                // Import the password as a key, so we can run it through PBKDF2 to generate an AES-GCM key.
                var pwKey = await window.crypto.subtle.importKey("raw", pwBytes, {name: "PBKDF2"}, false, ["deriveBits"]);
                // Generate a PBKDF2 digest of the password. This will be what the server stores, and what clients send at login.
                var pwHash = await window.crypto.subtle.deriveBits({name: "PBKDF2", salt: passwordSalt, iterations: iterations, hash: "SHA-256"}, pwKey, 256);
                var hmacKey = await crypto.subtle.importKey("raw", pwHash, {name: "HMAC", hash: "SHA-256"}, false, ["sign"]);
                var clientKey = await crypto.subtle.sign("HMAC", hmacKey, new TextEncoder('UTF-8').encode('Client Key'));
                var serverKey = await crypto.subtle.sign("HMAC", hmacKey, new TextEncoder('UTF-8').encode('Server Key'));
                var storedKey = await crypto.subtle.digest("SHA-256", clientKey);
                return {
                    username: username.toLowerCase(),
                    email: email.toLowerCase(),
                    stored_key: b64encode(storedKey),
                    server_key: b64encode(serverKey),
                    password_spec: {
                        algorithm: "pbkdf2_sha256",
                        salt: b64encode(passwordSalt),
                        iterations: iterations
                    },
                    x25519: await encryptKeys(x25519keys, pwKey, iterations),
                    ed25519: await encryptKeys(ed25519keys, pwKey, iterations)
                };
            }
            var vm = new Vue({
                el: '#app',
                vuetify: new Vuetify({
                }),
                data: {
                    valid: true,
                    status: null,
                    username: '',
                    password: '',
                    confirm: '',
                    email: '',
                    usernameRules: [
                        v => !!v || 'Username is required.',
                    ],
                    passwordRules: [
                        v => !!v || 'Password is required.',
                    ],
                    emailRules: [
                        v => !!v || 'Email address is required.',
                        v => /.+@.+/.test(v) || 'Please enter a valid email address.'
                    ]
                },
                created: function() {
                    this.$vuetify.theme.dark = true;
                },
                computed: {
                    verifyError: function() {
                        return (this.confirm === this.password) ? '' : 'Passwords do not match.';
                    }
                },
                methods: {
                    submit: async function() {
                        var self = this;
                        this.status = "Generating keys";
                        var data = await generateKeys(this.username, this.password, this.email);
                        this.status = "Signing up"
                        this.$http.post('/signup', JSON.stringify(data)).then(function(response) {
                            if (response.ok) {
                                if (response.body.error) {
                                    console.log(response);
                                }
                                else {
                                    window.location.href = response.body.redirect;
                                }
                            }
                            self.status = null;
                        });
                    }
                }
            });
        </script>
    </body>
</html>
